TELEGRAM_BOT_TOKEN=PASTE_NEW_BOTFATHER_TOKEN_HERE
ADMIN_CHAT_IDS=299399554
BOT_TIMEZONE=Asia/Yakutsk
BOT_PROMPT_HOUR=17
BOT_PROMPT_MINUTE=10
# Можно не указывать EXCEL_PATH, тогда бот возьмет файл из папки data.
# EXCEL_PATH=C:/Users/Alexander/PycharmProjects/DrillingProgressBot/data/uchet_bureniya_otverstiy.xlsx

